<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="superSocket"
             type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService" />
  </appSettings>
  <superSocket>
    <servers>
      <server name="TerminatorProtocolServer"
              serverType="CommonFormatProtocolDemo.TerminatorProtocolServer, CommonFormatProtocolDemo"
              ip="Any" port="2011"
              maxConnectionNumber="100" />
      <server name="CountSpliterAppServer"
              serverType="CommonFormatProtocolDemo.CountSpliterAppServer, CommonFormatProtocolDemo"
              ip="Any" port="2012"
              maxConnectionNumber="100" />
      <server name="FixedSizeReceiveServer"
              serverType="CommonFormatProtocolDemo.FixedSizeReceiveServer, CommonFormatProtocolDemo"
              ip="Any" port="2013"
              maxConnectionNumber="100" />
      <server name="BeginEndMarkReceiveServer"
              serverType="CommonFormatProtocolDemo.BeginEndMarkReceiveServer, CommonFormatProtocolDemo"
              ip="Any" port="2014"
              maxConnectionNumber="100" />
      <server name="FixedHeaderReceiveServer"
              serverType="CommonFormatProtocolDemo.FixedHeaderReceiveServer, CommonFormatProtocolDemo"
              ip="Any" port="2015"
              maxConnectionNumber="100" />
    </servers>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>